  .example-card:hover {
    border: solid 2px #fda660;
  }

  .evenBorder {
    background: burlywood;
    border: solid 1px burlywood;
  }

  .selectedHotel {
    background-color: yellow !important;
  }
  
  .example-header-image {
    background-size: cover;
  }
  
.searchBtn {
  max-width: 21px;
  color: white;
}

.searching-container {
  display: flex;
  flex-direction: column;
  background: #fda660;
}
#top {
  display: inline-flex;
  justify-content: space-between;
  height: 25px;
}

#bottom {
  display: flex;
  flex-direction: row;
  border-radius:5px;
}

#leg {
  height: 25px;  
}

.mff {
  width: 30%;
  padding: 1.5%;
  font-size: 0.8rem;
}

.closeButtn {
  position: relative;
  float: right;
  color: black;
  top: -10px;
  right: 0px;
}

.element-left-bottom {
  display: flex;
  flex-direction: column; 
}