
  <div class="element-bg-img"><img [src]="picture" alt="" class="img-responsive"> </div>
  <div class="element-left-bottom">
    <div *ngIf="navORsearch else searching" class="ele-strip">
      <ul>
        <li>
          <button class="searchBtn" mat-icon-button (click)="switchSearchOn()">
            <i class="material-icons">search</i>
          </button>
        </li>
        <li><a href="index.html#">Hotel</a></li>
        <li><a href="#">Fishing</a></li>
        <li><a href="#">Tours</a></li>
        <li class="anc-bor"><a href="#">Weather</a></li>
      </ul>
    </div>
    <ng-template #searching>
      <div class="searching-container">
        <div id="top">
          <legend id="leg">Searching hotels</legend>
          <div>
            <button mat-icon-button (click)="searchingClose()" class="closeButtn">
              <i class="material-icons">close</i>
            </button>
          </div>
        </div>
        <div id="bottom">
          <mat-form-field class="mff">
            <input matInput placeholder="by name" [value]="byName" #inputByNameRef
              (keyup)="searchingByName(inputByNameRef.value)">
          </mat-form-field>
          <mat-form-field class="mff">
            <input matInput placeholder="by description" [value]="byDescription" #inputByDescriptionRef
              (keyup)="searchingByDescription(inputByDescriptionRef.value)">
          </mat-form-field>
          <mat-form-field class="mff">
            <mat-label>by stars</mat-label>
            <mat-select [(value)]="byStars">
              <mat-option *ngFor="let hotel of hotelsStars" [value]="hotel.value">
                {{hotel.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </ng-template>
    <div class="village">
      <h3>Righteous indignation & like</h3>
      <div class="activity_box">
        <div class="scrollbar" id="style-2">
          <div class="activity-row">
            <mat-card class="example-card" #{{hotelInfo.id}} *ngFor="let hotelInfo of listOfHotels | searchingHotel: byName: byDescription: byStars; even as even"
              [ngClass]="{evenBorder : even }" 
              (click) = "select(hotelInfo.id)" 
              [class.selectedHotel]="hotelInfo === selHotel">
              <mat-card-header>
                <div mat-card-avatar><img mat-card-avatar [src]='hotelInfo.picture'></div>
                <mat-card-title>{{hotelInfo.title}}</mat-card-title>
                <mat-card-subtitle>{{hotelInfo.address}} {{hotelInfo.phone}}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                  <p>{{hotelInfo.description}}</p>
              </mat-card-content>
              <mat-card-actions fxLayout="row" fxLayoutAlign="space-around center">
                <button mat-raised-button color="primary" (click)="delete(hotelInfo.id)">Delete</button>
                <button mat-raised-button color="primary" (click)="chooseFavorite(hotelInfo.id)">Favorite</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
