<h1 [style.color]="'rebeccapurple'" [style.font-weight]="'700'">Favorite hotels</h1>
<cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
<mat-list>
    <mat-list-item *ngFor="let hotel of favoriteHotels; even as even" 
        [ngClass]="{evenFavorite : even }" 
        (click)="select(hotel)" 
        [class.selected]="hotel === selectedFavHotel"
        class="favItem">
        <img matListAvatar [src]='hotel.picture'>
        <h3 matLine> {{hotel.title}} </h3>
        <p matLine>
            <span> {{hotel.address}} </span>
        </p>
        <button mat-icon-button (click)="deleteFavorite(hotel.id)">
            <i class="material-icons">delete</i>
        </button>
    </mat-list-item>
</mat-list>
</cdk-virtual-scroll-viewport>