<h1 [style.color]="'rebeccapurple'" [style.font-weight]="'700'">Favorite hotels</h1>
<cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
<mat-list *ngIf="favoriteHotelsNgRx$ | async as favoriteHotelsNgRx">
    <mat-list-item *ngFor="let hotel of (favoriteHotelsNgRx$ | async).favoriteHotels; even as even" 
        [ngClass]="{evenFavorite : even }" 
        (click)="selectFavHotel(hotel)" 
        [class.selected]="hotel === favoriteHotelsNgRx.selectedFavHotel"
        class="favItem">
        <img matListAvatar [src]='hotel.picture'>
        <h3 matLine> {{hotel.title}} </h3>
        <p matLine>
            <span> {{hotel.address}} </span>
        </p>
        <button mat-icon-button (click)="deleteFavoriteHotel(hotel)">
            <i class="material-icons">delete</i>
        </button>
    </mat-list-item>
</mat-list>
</cdk-virtual-scroll-viewport>
<mat-paginator class="paginator" 
    [length]="lengthFanHotels$$ | async"
    [pageSize]="pageParams.pageSize"
    (page)=changePage($event)
    [pageSizeOptions]="[3, 5,  10]">
</mat-paginator>