<div class="inner-header"  fxLayout="row">
        <h1>my<span>HOTELs</span></h1>
        <ul class="navigation" fxLayout="row">
                <a routerLink='hotels' routerLinkActive='active' [routerLinkActiveOptions]='{exact: true}'><li>Hotels</li></a>
                <a routerLink='about' routerLinkActive='active' [routerLinkActiveOptions]='{exact: true}'><li>about this project</li></a>
                <a routerLink='users' routerLinkActive='active' [routerLinkActiveOptions]='{exact: true}'><li>users</li></a>
                <a routerLink='contact' routerLinkActive='active' [routerLinkActiveOptions]='{exact: true}'><li>contacts us</li></a>
        </ul>
</div>
