.contact-container {
    background: gold;
    text-align: center;
    padding: 2%;
    width: 10%;
    margin: 10% auto;
    display: flex; 
    flex-direction: column; 
}

.edit-btn {
    background: red;
    color: aliceblue;
    margin: 0 auto;
}