<h1>Hot Weather Widget</h1>

<div class="element">
  <app-list-of-hotel [listOfHotels]="hotels" 
    [picture]="hotel.picture"
    (selectHotel)="changeHotel($event)"
    (deleteHotel)="deleteHotelFromList($event)"
    (addToFavorite)="addToFavorite($event)">
  </app-list-of-hotel>
  <div class="element-right">
    <app-weather [weatherInfo]="hotel.weather"></app-weather>
    <app-profile [profileInfo]="hotel.profile"></app-profile>
  </div>
  <div class="clear"></div>
</div>

<app-footer></app-footer>

<!-- <router-outlet></router-outlet> -->
