<div class="element-left">
  <div class="element-bg-img"><img src="assets/images/1.jpg" alt="" class="img-responsive"> </div> 
    <div class="element-left-bottom">
      <div class="ele-strip">
        <ul>
          <li><a href="index.html#">Hotel</a></li>
          <li><a href="index.html#">Fishing</a></li>
          <li><a href="index.html#">Tours</a></li>
          <li class="anc-bor"><a href="index.html#">Weather</a></li>
        </ul>
      </div>
    <div class="village">
      <h3>Righteous indignation & like</h3>
      <span class="line"> </span>
      <div class="activity_box">
        <div class="scrollbar" id="style-2" >
          <div class="activity-row" *ngFor="let hotel of listOfHotels;let even=even" 
          [ngClass]="{'even' : even }" (click)="select(hotel.id)">
            <div class="activity-desc" >
              <h5>{{hotel.id+1}} {{hotel.title}}</h5>
              <p>{{hotel.address}}</p>
              <p>{{hotel.description}}</p>
              <h6>Tel: {{hotel.phone}}</h6>
            </div>
            <div class="activity-img">
              <ul>
                <li><img src={{hotel.photos[0]}}  alt=""/></li>
                <li><img src={{hotel.photos[1]}}  alt=""/></li>
              </ul>
              <button class="clear" mat-mini-fab (click)="delete(hotel.id)"><i class="material-icons">clear</i></button>
            </div>
            <div class="clear"> </div>
          </div>         
        </div>
      </div>
    </div>
  </div>
</div>
