.even {
    background: antiquewhite;
}

  .example-card:hover {
    border: solid 2px burlywood;
  }

  .evenBorder {
    border: solid 1px burlywood;
  }
  
  .example-header-image {
    /* background-image: url('/assets/images/res.jpg'); */
    background-size: cover;
  }